<%- include('../partials/header') %>
<div id="forums">

  <h3 class="forum-title">Welcome to the bibliophile corner</h3>
  <form action="/forums" method="POST">
    <div class="form-group">
      <input type="text" class="form-control" aria-describedby="forum" name="title" placeholder="Enter message..." required>
    </div>
    <button type="submit" class="btn0 btn-success">Create Post</button>
  </form>

  <% forums.forEach(forum => { %>
    <div class="card">
      <div class="card-header">
        <%= forum.postedBy %> <img id="avatarPhoto" width="30" src="<%= forum.avatar %>" alt="https://picsum.photos/200/300">
      </div>
      <div class="card-body">
        <h4 class="card-title"><%= forum.title %></h4>
        <h5><%= forum.createdAt.toLocaleString()%></h5>
      </div>
    </div>
  <% }) %>

</div>

<%- include('../partials/footer') %>
