<%- include('../partials/header') %>

<h1><%= title %> </h1>
<% if (books.length !== 0) { %>
    <% books.forEach((b) => { %>
        <div class="card">
            <h4 class="card-title"><%= b.title %> </h4>
            <% let randomCover = Math.floor(Math.random() * 74) + 1 %>
            <img id="cover-index" src="/cover-generator/covers/img<%= randomCover %>.png" alt="#">
            <p class="card-text">Publication date: <%= b.publicationDate %> </p>
            <!-- <p class="card-description">Synopsis: <%= // b.description %> </p> -->
            <a href="/books/<%= b._id %> ">Book details</a>
        </div>
<% }); %>
<% } else { %>
        <h3>There are no books</h3>
    <% }; %>

<%- include('../partials/footer') %>
