<%- include('../partials/header') %>

<div class="component">

    <ul class="align">
        <h1><%= title %> </h1>
    <% if (books.length !== 0) { %>
    <% books.forEach((b) => { %>
        <li>
            <figure class='book'>

                <!-- Front -->

                <ul class='hardcover_front'>
                    <li>
                        <% let randomCover = Math.floor(Math.random() * 74) + 1 %>
                        <div class="coverDesign yellow">
                            <h4 class="card-title" id="book-title"><%= b.title %> </h4>
                            <img src="https://i.redd.it/yelez5du8lq41.jpg" alt="" width="100%" height="100%">
                            <span class="ribbon">NEW</span>
                        </div>
                    </li>
                    <li></li>
                </ul>

                <!-- Pages -->

                <ul class='page'>
                    <li></li>
                    <li>
                        <a class="btn" href="/books/<%= b._id %> ">Book details</a>
                    </li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

                <!-- Back -->

                <ul class='hardcover_back'>
                    <li></li>
                    <li></li>
                </ul>
                <ul class='book_spine'>
                    <li></li>
                    <li></li>
                </ul>
                <figcaption>
                    <span> <p class="card-text">Publication date: <%= b.publicationDate %> </p></span>
                    <p>Tomatillo water chestnut mustard cabbage yarrow sierra leone bologi. Watercress green bean groundnut earthnut pea dandelion radicchio.</p>
                </figcaption>
            </figure>
        </li>
        <% }); %>
<% } else { %>
        <h3>There are no books</h3>
    <% }; %>

<%- include('../partials/footer') %>
